<div style="display: flex; flex-direction: row;">
  <div style="flex: 1; margin:10px;">
    <h2>Create, Read, Update, Delete</h2>
    <h4>CREATE TABLE</h4>
<code>CREATE TABLE table_name (
        
        column data_type PRIMARY KEY,
        ...
        column data_type,

)
</code>

<h2>ðŸ”‘ Primary Key</h2>
When creating a table, it is best practice to specify a primary key column.
A primary key is a column (or set of columns) in our table that uniquely identifies each row in that table. The primary key constraint ensures that our values in the specified column(s) are unique and cannot be null.

<style>
.container {
  text-align: center;
}
.text {
  margin: 0 auto;
  max-width: 800px;
}
</style>

  </div>
  <div style="flex: 1;">
    <table>
      <thead>
        <tr>
          <th>Data Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>INT</td>
          <td>Integer</td>
        </tr>
        <tr>
          <td>FLOAT</td>
          <td>Floating-point number</td>
        </tr>
        <tr>
          <td>DECIMAL(p,s)</td>
          <td>Decimal number with `p` total digits and `s` digits after the decimal point</td>
        </tr>
        <tr>
          <td>CHAR(n)</td>
          <td>Fixed-length character string with a maximum length of `n`</td>
        </tr>
        <tr>
          <td>VARCHAR(n)</td>
          <td>Variable-length character string with a maximum length of `n`</td>
        </tr>
        <tr>
          <td>TEXT</td>
          <td>Variable-length character string with no maximum length</td>
        </tr>
        <tr>
          <td>DATE</td>
          <td>Date (year, month, and day)</td>
        </tr>
        <tr>
          <td>TIME</td>
          <td>Time of day (hour, minute, and second)</td>
        </tr>
        <tr>
          <td>TIMESTAMP</td>
          <td>Date and time</td>
        </tr>
        <tr>
          <td>BOOLEAN</td>
          <td>Logical value (`TRUE` or `FALSE`)</td>
        </tr>
        <tr>
          <td>BLOB</td>
          <td>Binary large object</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br><h1><b><center>SQL IDX START at 1, not 0!</center></b></h1>

**INSERT INTO**

INSERT INTO table_name ($k_1$, $k_2$ ... $k_n$) values ($v_1$, $v_2$ ... $v_n$) where $k$ is column names and $v$ is values.

>Same n values, no need to enter column names.

**SELECT INTO**

Creates new table from selection

**INSERT INTO SELECT FROM**

Insert data in existing table from selection
Does not update existing values, creates new. Will get duplicates.

<code>SELECT * INTO USERS2 FROM USERS</code>

Creates a copy

Primary keys not included in copy

**UPDATE**

To change values 

<code>UPDATE table_name SET column_name = 'value' WHERE column_name = 'value2'</code>

**UPSERT**

Update + Insert

Also **MERGE** (later SQL versions)

**TRUNCATE**

Removes all the rows from a table, but keeps the table structure.

**DROP TABLE**

Completely removes the table.

### **Semantics**

DML: Data Manipulition Language
- SELECT, INSERT, UPDATE, DELETE

DDL: Data Definition Language
- CREATE, ALTER, DROP, TRUNCATE

DCL: Data Control Language # Create roles, permissions
- GRANT, REVOKE

TCL: Transactional Control Language
- COMMIT, ROLLBACK, SAVE TRANSACTION